body {font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 50px; background-color: #1F1B24; color: #EAEAEA;}
* {box-sizing: border-box;}

button.main {
  background-color: #584C68;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.main:hover {
  background-color: #3B3344;
}

.container {
  border-radius: 25px;
  background-color: #473B56;
  padding: 20px;
  width: 90%;
  margin: auto;
}

a, a:hover, a:visited
{
  color: #D8D858;
}
